doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Coom
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header
            h1 Coom
        main
            div#myStream
                video#myFace(autoplay, playsinline, muted, width="400",height="400")
                button#mute Mute    
                button#camera Camera Turn Off

            div#welcome 
                form
                    input(placeholder="room name", required, type="text")
                    button Enter Room
                h4 Open Rooms:
                ul   
            div#room 
                h3 Unknown
                ul
                form#name
                    input(placeholder="nickname", required, type="text")
                    button Save 
                form#msg
                    input(placeholder="message", requred, type="text")
                    button Send

            .contentarea
                h1
                    | MDN - navigator.mediaDevices.getUserMedia(): Still photo capture demo
                p
                    | This example demonstrates how to set up a media stream using your built-in webcam, fetch an image from that stream, and create a PNG using that image.
                .camera
                    video#video Video stream not available.
                    button#startbutton Take photo
                canvas#canvas
                .output
                    img#photo(alt='The screen capture will appear in this box.')
                p
                    | Visit our article 
                a(href='https://developer.mozilla.org/en-US/docs/Web/API/WebRTC_API/Taking_still_photos')  Taking still photos with WebRTC
                    |  to learn more about the technologies used here.

        audio.snap(src='https://wesbos.com/demos/photobooth/snap.mp3', hidden='')
        script(src='scripts.js')
        script(src="/socket.io/socket.io.js")
        script(src="/public/js/app.js")
        script(src="webcam.js")
            