<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <title>Eye Can See You</title>
    <link rel="stylesheet" href="/static/css/style.css" media="(min-width: 768px)" />
</head>

<body>
    <div id="layout">
        <div id="navBar">
            <img src="/media/default.png" id="logo" alt="Logo" />
            <div id="menu">
                <a class="links" href="{% url 'home_view'%}">Meeting</a>
                <a class="links" href="{% url 'statis_view' %}">Statics</a>
                <a class="links" href="{%url 'setting_view' %}">Settings</a>
            </div>
        </div>
        <div id="title">
            <img src="/media/default.png" id="logo_ex" alt="Logo" />
            <div id="heading">Eye Can See You</div>
            <div id="subtitle">for everyone</div>
        </div>
        <div id="wrapper">
            <div id="inner">
                <div id="box1">
                    <div id="myStream">
                        <video id="myFace" autoplay playsinline muted width="300" height="300"></video>
                        <p></p>
                        <button id="mute">Mute</button
              ><button id="camera">Camera Turn Off</button>
                        <button id="startbutton">Take photo</button>
                    </div>
                    <div id="welcome">
                        <form>
                            <input placeholder="room name" required type="text" /><button>
                  Enter Room
                </button>
                        </form>
                        <h4>Open Rooms:</h4>
                        <ul></ul>
                    </div>
                    <div id="room">
                        <h3>Unknown</h3>
                        <ul></ul>
                        <form id="name">
                            <input placeholder="nickname" required type="text" /><button>
                  Save
                </button>
                        </form>
                        <form id="msg">
                            <input placeholder="message" required type="text" /><button>
                  Send
                </button>
                        </form>
                    </div>
                </div>
                <div id="box2">
                    <main>
                        <div class="contentarea">
                            <div class="camera">
                                <video id="video">Video stream not available.</video
                  ><button id="startbutton">Take photo</button>
                </div>
                <canvas id="canvas"></canvas>
                <div class="output">
                  <img
                    id="photo"
                    alt="The screen capture will appear in this box."
                  />
                </div>
              </div>
            </main>
          </div>
        </div>
      </div>
      
    <script>
      window.addEventListener("beforeunload", (e) => {
        console.log("bye");
      });
    </script>
    <script src="scripts.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/app.js"></script>
    <script src="webcam.js"></script>
  </body>
</html>